<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="mx-auto mt5" style="width: 900px">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>City Code</th>
                    <th>Name</th>
                    <th>Hotel Rating</th>
                    <th>Chain Code</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Type</th>
                    <th>City Code</th>
                    <th>Name</th>
                    <th>Hotel Rating</th>
                    <th>Chain Code</th>
                    <th>Address</th>
                </tr>
                </tfoot>
                <tbody>
                <% @hotelList.each do |hotel| %>
                <tr>
                    <td><%= hotel['hotel']['type']%></td>
                    <td><%= hotel['hotel']['cityCode']%></td>
                    <td><%= hotel['hotel']['name']%></td>
                    <td><%= hotel['hotel']['chainCode']%></td>
                    <td><%= hotel['hotel']['rating']%></td>
                    <td><%= hotel['hotel']['address']['lines']%></td>
                </tr>
                <% end %>
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>