<header>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Theme style  -->
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %> 
</header>
<body>
<%= render 'layouts/navigation' %>
		
<div class="colorlib-loader"></div>

<div id="page">
    <div class="colorlib-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-14">
                    <div class="row">
                        <div class="wrap-division">
                            <% @hotelList.each do |hotel| %>
                                <div class="col-md-4 col-sm-4 animate-box">
                                    <div class="hotel-entry">
                                        <%= image_tag Dir.new(Rails.root.to_s + "/app/assets/images").to_a.select{|f|  f.downcase.match(/\.jpg|\.jpeg|\.png/) }.sample, class:"hotel-img", style:"width: 400px" %>
                                            <p class="price">
                                            <span>
                                               $ <%= hotel['offers'][0]['price']['total']%>
                                            </span>
                                            <small> /night</small></p>
                                        <div class="desc">
                                            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                                            <h3><%= hotel['hotel']['name']%> | <%= hotel['hotel']['address']['cityName']%> </h3>
                                            <span class="place">
                                                <%= hotel['hotel']['chainCode']%>
                                            </span>
                                            <span>
                                                <i class="icon-phone"></i>
                                                <%= hotel['hotel']['contact']['phone']%>
                                            </span>
                                            <h6>Address:</h6>
                                            <p><%= hotel['hotel']['address']['lines'].to_s.gsub(/^\[+|\]+$/, '')%> | <%= hotel['hotel']['cityCode']%> | <%= hotel['hotel']['address']['countryCode']%></p>
                                           
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

</body>