<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="index.html">Travelwise</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="index.html">Home</a></li>
								<li class="has-dropdown">
									<a href="tours.html">Travelwise</a>
									<ul class="dropdown">
										<li><a href="#">Destination</a></li>
										<li><a href="#">Cruises</a></li>
										<li><%= link_to "Hotels", hotel_index_path%></li>
										<li><%= link_to "Airline Info", flight_index_path%></li>
									</ul>
								</li>
								<li><%= link_to "Hotels", hotel_index_path%></li>
								<li><%= link_to "Airline Info", flight_index_path%></li>
								<li><%= link_to("Countries", travel_index_path) %></li>								</li>
								<li><a href="about.html">About</a></li>
								<%if current_user%>

									<li>
									<%= link_to("logout", destroy_user_session_path, class: "btn btn-xs btn-danger", method: :delete) %>
									</li>
								<%else%>
									<li><%= link_to "Sign Up", new_user_registration_path%></li>
									<li><%= link_to "Log in", new_user_session_path%></li>
								<%end%>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>