<!DOCTYPE html>
<html>
  <head>
    <title>TravelApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render 'layouts/navigation' %>

      <div class="container">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading"><%= notice %></h4>
        <ul class="mb-0"><%= alert %></ul>
      </div>
      </div>
    <%= yield %>
  </body>
</html>
